
<!DOCTYPE html>
<html>
    <head>
    <title>firstpage</title>
    {% load static %}
     <link href="{% static 'style.css' %}" rel="stylesheet">
  </head> 
</html>

<body>
    <div class=" main">
        <div class="nav-buttons">
            <button onclick="goBack()">Back</button>
            <button onclick="goNext()">Next</button>
        </div>
        <div class="firstpage">
            <form>
                <a href="singin.html"> 

                  <button1 type="button" >admin</button1>
                  <button1 type="button">library manger</button1>
                  <button1 type="button">student</button1>
                </a>

            </form>
        </div>

    </div>
</body>
</html>