<!DOCTYPE html>
<html>
<head>
    <title>Library</title>
    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="library">
        <img src="https://th.bing.com/th/id/OIP.5FNg3DkFTdHM8WcobAyoQwHaHa?w=188&h=188&c=7&r=0&o=5&pid=1.7" alt="Library Image" class="library-img">
        <form method="POST" action="{% url 'update_library_state' %}">
            {% csrf_token %}
            {% if last_library %}
                <label>State:</label>
                <input type="text" name="library_state" value="{{ last_library.state }}">
                <br>
                <label>Students in Library: {{ last_library.num_students }}</label>
            {% else %}
                <p>No library data available.</p>
            {% endif %}
            <button type="submit">Save</button>
        </form>
    </div>
</body>
</html>
