<!DOCTYPE html>
<html>
<head>
    <title>map</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div stylr="margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);">  
        <img src="https://www.sce.ac.il/filestock/file/1604305374427-0.jpg">
        <div style="text-align: center;">
            <p>הספריה בבנין ספרא קומה 3</p>
        </div>
    </div>
  
</body>
</html>
